__pycache__
.env
*.pdf
Universal Sentence Encoder/saved_model.pb
Universal Sentence Encoder/variables.data-00000-of-00001
Universal Sentence Encoder/variables.index
Universal Sentence Encoder/saved_model.pb
Universal Sentence Encoder/variables.data-00000-of-00001
Universal Sentence Encoder/variables.index
